:root.dark {
    --bg-btn-img: url("./images/lightbulb_white_24dp.svg");
    --bg-btn-img-change: url("./images/mode_night_black_24dp.svg");
    --bg-colour: #212529;
    --text-colour: white;
    --dots-colour: #6C757D;
    --bg-toggle-colour: #fca311;
    --bg-toggle-colour-change: #eb5e28;
    --accent-colour: #fca311;
}

:root.light {
    --bg-btn-img: url("./images/mode_night_black_24dp.svg");
    --bg-btn-img-change: url("./images/lightbulb_white_24dp.svg");
    --bg-colour: #DEE2E6;
    --text-colour: black;
    --dots-colour: #495057;
    --bg-toggle-colour: #eb5e28;
    --bg-toggle-colour-change: #fca311;
    --accent-colour: #eb5e28;
}

body {
    background: var(--bg-colour);
    background-image: radial-gradient(var(--dots-colour) 1px, transparent 0);
    background-size: 60px 60px;
    background-position: -20px -20px;
    margin: 0;
    max-height: 100vh;
    transition: 0.5s;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.toggle {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 2%;
    right: 2%;
    background: var(--bg-btn-img) no-repeat center;
    border-color: var(--bg-toggle-colour);
    border-radius: 50%;
}

.toggle:hover {
    cursor: pointer;
    background-color: var(--bg-toggle-colour);
    transition: 0.5s;
}