.statusBar {
    height: 50px;
    animation-name: grow;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    background-color: var(--bg-colour);
    border: solid 3px var(--accent-colour);
    border-radius: 25px;
    display: flex;
    color: var(--text-colour);
    font-family: 'Poppins', 'sans-serif';
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    box-sizing: border-box;
}

@keyframes grow {
    0% {
        width: 5%;
    }
    100% {
        width: 40%;
    };
}

.projectsLink:hover,
.eduLink:hover,
.contactsLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.projectsLink,
.eduLink,
.contactsLink {
    animation: fadeIn 2s;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}